<%- include("header") %>

<body>
    <h3 style="text-align:center;">To Do list</h3>
    <p style="text-align: center;">This App is for noting down your daily tasks in different categories be it work or daily tasks</p>
</body>

<%- include("footer") %> 